.about-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 3rem;
    width: 100%;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8rem;
    margin-bottom: 3rem;
}

.about-img{
    width: 100%;
}

.about-para{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

@media (max-width: 480px) {
    .about-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.5rem;
    }

    .about-para{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}