.food-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}

.category-section{
    width: 100%;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}


.food-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 8rem;
}

.food-item:hover {
    transform: scale(1.02); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.foodImg {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

.food-item h3 {
    font-size: 1.25rem;
    color: #333;
    margin: 0.5rem; 
}

.food-item p {
    margin: 0.5rem; 
}

.food-item button {
    background-color: #ffb700;
    border: none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 2rem;
    transition: background-color 0.3s ease;
    width: 30px;
    height: 30px;
    display: flex; 
    align-items: center;
    justify-content: center;
    margin: 2px;
}

.food-item button:hover {
    background-color: rgb(255, 136, 0);
}

.name-price{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.restau-rating{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.rating{
    color: #f39c12;   
    font-weight: bold;
}

.price-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
}



.popup-overlay {
    position: fixed;
    top: 20px; 
    right: 20px; 
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 1000;
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  
  .popup-overlay.show {
    opacity: 1;
    transform: scale(1);
  }
  
  .popup-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .popup-content p {
    margin: 0;
    padding-right: 10px;
  }
  
  .popup-content .view-cart-link {
    color: #ffb700;
    text-decoration: none;
    margin-left: 10px;
  }
  
  .popup-content .close-popup {
    background: none;
    border: none;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    padding: 0;
  }
  


@media (max-width: 768px) {
    .food-list{
        display: grid;
        grid-template-columns: 1fr ;
    
}
}
