.navbar2 {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 10px 20px;
    background-color: #fff; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    
}

.logoYellow {
    height: 40px; 
    width: auto; 
}

.navLInk2 {
    text-decoration: none; 
    color: #333; 
    font-size: 16px; 
    transition: color 0.3s; 
}
.navLInk2:hover {
    color: #f79205; 
}

.headerLinks2{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
.cart-item{
    color: black;
    padding: 10px;
    border-radius: 1rem;
    transition: background-color 0.3s ease-out;
}

.cart-item:hover{
    background-color: rgb(255, 183, 0);
    color: white;
}